@tailwind base;
@tailwind components;
@tailwind utilities;


.button-next,
.button-prev {
  position: absolute;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;  
  top: 50%;
  margin-top: -2%;
}
