@tailwind base;
@tailwind components;
@tailwind utilities;

.advert {
    justify-content: center;
    align-items: center;
    display: flex;
    object-fit: cover;
}
.button-next,
.button-prev {
  position: absolute;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;  
  top: 50%;
  margin-top: -2%;
}
