@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-custom-color {
    color: theme('colors.text-color');
  }
}
@font-face {
  font-family: 'mongolian-baiti-regular';
  src: url('/font/monbaiti.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'mongolian-baiti-regular', sans-serif;
  background-image: url(/bg-page.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1F1F22;
  position: absolute;
  overflow: hidden;
  width: 100vw; 
  height: 100vh;
  overflow-y: scroll;
}

