@tailwind base;
@tailwind components;
@tailwind utilities;

.table {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 18px;
    background-color: #101010;
    width: 285px;
    height: 60px;
    border: 1px solid #3e3e3e;
    margin-left: auto;
    margin-right: auto;
}
.Bad {
    font-size: 18px;
    color: #8e8e8e;
    align-items: center;
    justify-content: center;
    display: flex;
}
.money {
    font-size: 22px;
    color: #f1e3c2;  
    align-items: center;
    justify-content: center;
    display: flex;
}
.table_ {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}